.header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.navLinks {
  @media (max-width: 768px) {
    display: none;
  }
  justify-content: flex-end;
  align-self: center;
  // margin: 0 10px;
  ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    li {
      margin-left: 15px;
      list-style: none;
      right: 50px;
      a {
        color: #888;
      }
    }
  }
}

.navLogo {
  margin: 0 10px 10px 10px;

  a {
    div {
      background-color: #252525;
      color: #201f1d;
      font-family: 'Open Sans', sans-serif;
      font-size: 36px;
      padding: 15px 10px;
    }
  }

  h1 {
  }
}

// .navitem {
//   display: inline-flex;
//   flex-direction: column;
//   padding: 0 0.6rem;
//   list-style: none;
// }
