.navbar {
  background-color: aqua;
  //   h1 {
  //     color: red !important;
  //   }
  .bp3-align-left {
    background-color: aqua;
  }
  .logo {
    // background-color: aqua;
    color: red;
  }
  .listitem {
    color: greenyellow;
  }
}
